In [1]:
import pandas as pd
import numpy as np
import json
import itertools as it

---

## The Sensor Data
### Importing Sensor Data
The file `S1sensors.csv` contains a tabulated values for sensor ID (numeric), room and sensor type.

In [2]:
dsS1Sensors = pd.read_csv('S1Sensors_preprocessed.csv', index_col = False)

In [3]:
dsS1Sensors.head(n=5)                                         # Checking the dataset

,subActNum,room,activity,concat,reqElectricity,subActNumConcat
0,100,Bathroom,Toilet Flush,bathroom_toiletflush,False,subActNum_100
1,101,Bathroom,Light switch,bathroom_lightswitch,True,subActNum_101
2,104,Foyer,Light switch,foyer_lightswitch,True,subActNum_104
3,105,Kitchen,Light switch,kitchen_lightswitch,True,subActNum_105
4,106,Kitchen,Burner,kitchen_burner,True,subActNum_106

---

# Relationships

### Intersection
<pre>
|----EventA----|  <br>
            |---EventB---|   
</pre>

### Separate
<pre>
|----EventA----|  <br>
                    |---EventB---|   
</pre>

### Enclosed
<pre>
|----------EventA----------|  <br>
           |---EventB---|   
</pre>

### Equal
<pre>
       |---EventA---|  <br>
       |---EventB---|   
</pre>

### More?

A & B & C

A &rightarrow; B

---

In [4]:
iteration_2n = it.combinations(dsS1Sensors.subActNum, 2)
array_2n = np.array(list(iteration_2n))
len(array_2n)

2850

In [5]:
array_2n[0:4]

array([[100, 101],
       [100, 104],
       [100, 105],
       [100, 106]])

In [6]:
dsCombin2n = pd.DataFrame({'EventA': array_2n[:, 0], 
                           'EventB': array_2n[:, 1]})

In [10]:
dsCombin2n.head(n=5)

   EventA  EventB
0     100     101
1     100     104
2     100     105
3     100     106
4     100     107

In [11]:
dsCombin2n.tail(n=5)

      EventA  EventB
2845      96      98
2846      96      99
2847      97      98
2848      97      99
2849      98      99

---

In [12]:
iteration_3n = it.combinations(dsS1Sensors.subActNum, 3)
array_3n = np.array(list(iteration_3n))
len(array_3n)

70300

In [ ]:
array_3n[0:4]

In [ ]:
dsCombin3n = pd.DataFrame({'EventA': array_3n[:, 0], 
                           'EventB': array_3n[:, 1],
                           'EventC': array_3n[:, 2]})

In [ ]:
dsCombin3n.head(n=5)

In [ ]:
# Check all durations for outliers

| EventA| EventB| Ev.A Start| Ev.A End| Ev.B Start|Ev.B End|Delta   | Descriptor | WendWday|Hour  |TimeofDay|
|:-----:|:-----:|:--------: | :------:|:--------: |:------:|:------:| :------:   | :------:|:----:|:------: |
| 100   | 101   | 10am      | dateTime| dateTime  |dateTime|-4      | Gap        | weekday | 6:00 |6Till8   |
| 100   | 101   | 11am      | dateTime| dateTime  |dateTime|92      | Union      | weekend |12:00 |12Till14 |