In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [2]:
ds = pd.read_csv('S1SubActivities_timeStampRanges.csv', index_col = None)

In [3]:
ds.head(n=4)

,subActNum,subAct,start,end,actDuration,timeStampList,timeStampArrayList
0,100,Toilet Flush,2003-04-01 20:51:52,2003-04-01 21:05:20,809,"DatetimeIndex(['2003-04-01 20:51:52', '2003-04...","[datetime.datetime(2003, 4, 1, 20, 51, 52)\n d..."
1,68,Sink faucet - hot,2003-04-01 20:51:58,2003-04-01 20:52:05,8,"DatetimeIndex(['2003-04-01 20:51:58', '2003-04...","[datetime.datetime(2003, 4, 1, 20, 51, 58)\n d..."
2,81,Closet,2003-04-01 20:53:36,2003-04-01 20:53:43,8,"DatetimeIndex(['2003-04-01 20:53:36', '2003-04...","[datetime.datetime(2003, 4, 1, 20, 53, 36)\n d..."
3,101,Light switch,2003-04-01 20:53:49,2003-04-01 21:21:43,1675,"DatetimeIndex(['2003-04-01 20:53:49', '2003-04...","[datetime.datetime(2003, 4, 1, 20, 53, 49)\n d..."

In [4]:
ds.dtypes

subActNum              int64
subAct                object
start                 object
end                   object
actDuration            int64
timeStampList         object
timeStampArrayList    object
dtype: object

In [5]:
ds.start = pd.to_datetime(ds.start, format = '%Y-%m-%d %H:%M:%S')
ds.end = pd.to_datetime(ds.end, format = '%Y-%m-%d %H:%M:%S')

In [6]:
start = ds.start
end = ds.end

In [7]:
tempTimeStamp = []
i = 0
while i < len(ds):
    tempTimeStamp.append(pd.date_range(start = start[i], end = end[i], freq = 's'))
    i += 1

In [8]:
tempNumTimeStamps = []
i = 0
while i < len(ds):
    tempNumTimeStamps.append(len(tempTimeStamp[i]))
    i += 1

In [9]:
ds['actDuration'] = tempNumTimeStamps
ds['timeStampList'] = tempTimeStamp

In [10]:
timeStampVector = ds['timeStampList']

In [11]:
timeStampVector[1]

DatetimeIndex(['2003-04-01 20:51:58', '2003-04-01 20:51:59',
               '2003-04-01 20:52:00', '2003-04-01 20:52:01',
               '2003-04-01 20:52:02', '2003-04-01 20:52:03',
               '2003-04-01 20:52:04', '2003-04-01 20:52:05'],
              dtype='datetime64[ns]', freq='S')

In [12]:
DTArrayList = []
i = 0
while i < len(ds):
    DTArrayList.append(pd.DatetimeIndex.to_pydatetime(timeStampVector[i]))
    i = i + 1

In [13]:
ds['timeStampArrayList'] = DTArrayList

In [14]:
ds.head(n=4)

,subActNum,subAct,start,end,actDuration,timeStampList,timeStampArrayList
0,100,Toilet Flush,2003-04-01 20:51:52,2003-04-01 21:05:20,809,"DatetimeIndex(['2003-04-01 20:51:52', '2003-04...","[2003-04-01 20:51:52, 2003-04-01 20:51:53, 200..."
1,68,Sink faucet - hot,2003-04-01 20:51:58,2003-04-01 20:52:05,8,"DatetimeIndex(['2003-04-01 20:51:58', '2003-04...","[2003-04-01 20:51:58, 2003-04-01 20:51:59, 200..."
2,81,Closet,2003-04-01 20:53:36,2003-04-01 20:53:43,8,"DatetimeIndex(['2003-04-01 20:53:36', '2003-04...","[2003-04-01 20:53:36, 2003-04-01 20:53:37, 200..."
3,101,Light switch,2003-04-01 20:53:49,2003-04-01 21:21:43,1675,"DatetimeIndex(['2003-04-01 20:53:49', '2003-04...","[2003-04-01 20:53:49, 2003-04-01 20:53:50, 200..."

In [15]:
ds = ds.set_index(start)

In [16]:
s = ds.apply(lambda x: pd.Series(x['timeStampArrayList']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'duration'
ds = ds.drop('end', axis=1).join(s)

In [17]:
ds.head(n=4)

,subActNum,subAct,start,actDuration,timeStampList,timeStampArrayList,duration
start,,,,,,,
2003-03-27 06:43:40,67,Cabinet,2003-03-27 06:43:40,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200...",2003-03-27 06:43:40
2003-03-27 06:43:40,67,Cabinet,2003-03-27 06:43:40,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200...",2003-03-27 06:43:41
2003-03-27 06:43:40,67,Cabinet,2003-03-27 06:43:40,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200...",2003-03-27 06:43:42
2003-03-27 06:43:40,67,Cabinet,2003-03-27 06:43:40,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200...",2003-03-27 06:43:43

In [18]:
ds = ds.drop(columns = ['start', 'subAct', 'timeStampList', 'timeStampArrayList'])
ds.head(n=10)

                     subActNum  actDuration            duration
start
2003-03-27 06:43:40         67            4 2003-03-27 06:43:40
2003-03-27 06:43:40         67            4 2003-03-27 06:43:41
2003-03-27 06:43:40         67            4 2003-03-27 06:43:42
2003-03-27 06:43:40         67            4 2003-03-27 06:43:43
2003-03-27 06:44:06        100         1716 2003-03-27 06:44:06
2003-03-27 06:44:06        100         1716 2003-03-27 06:44:07
2003-03-27 06:44:06        100         1716 2003-03-27 06:44:08
2003-03-27 06:44:06        100         1716 2003-03-27 06:44:09
2003-03-27 06:44:06        100         1716 2003-03-27 06:44:10
2003-03-27 06:44:06        100         1716 2003-03-27 06:44:11

In [19]:
ds.to_csv('S1SubActivities_timeRangeMelt.csv',index=False)

---