In [288]:
#subDF.rename(
#    columns={
#        "concat": "subAct",
#        4: "reqEnergy"
#    },
#    inplace=True
#)

In [304]:
for x in subActList:
    df[x] = 0

In [305]:
df.head(n=2)

,Toilet Flush,Sink faucet - hot,Closet,Light switch,Shower faucet,Freezer,Medicine cabinet,Cabinet,Sink faucet - cold,Lamp,...,Containers,Exhaust Fan,Garbage disposal,Dishwasher,Laundry Dryer,Washing Machine,Burner,Oven,Coffee machine,DVD
TimeStamp,,,,,,,,,,,,,,,,,,,,,
2003-03-27 06:43:40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [316]:
s = subDF.apply(lambda x: pd.Series(x['timeStampArrayList']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'actDuration'
subDF2 = subDF.drop('end', axis=1).join(s)

ValueError: columns overlap but no suffix specified: Index(['actDuration'], dtype='object')

In [74]:
subDF3 = subDF2.drop(columns = ['subAct', 'start', 'actDuration', 'timeStampList', 'timeStampArrayList'])
subDF3.head(n=10)

                    subActNum
duration
2003-03-27 11:35:24       140
2003-03-27 11:35:25       140
2003-03-27 11:35:26       140
2003-03-27 11:36:15       137
2003-03-27 11:36:16       137
2003-03-27 11:36:17       137
2003-03-27 11:36:18       137
2003-03-27 11:36:19       137
2003-03-27 11:36:20       137
2003-03-27 11:36:21       137

In [75]:
transpose = pd.get_dummies(subDF3)
transpose.head(n=10)

,subActNum_100,subActNum_101,subActNum_104,subActNum_105,subActNum_106,subActNum_107,subActNum_108,subActNum_118,subActNum_119,subActNum_120,...,subActNum_90,subActNum_91,subActNum_92,subActNum_93,subActNum_94,subActNum_95,subActNum_96,subActNum_97,subActNum_98,subActNum_99
duration,,,,,,,,,,,,,,,,,,,,,
2003-03-27 11:35:24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:35:25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:35:26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:36:15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:36:16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:36:17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:36:18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:36:19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:36:20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 11:36:21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
summary = transpose.describe()

In [78]:
summary = summary.transpose()

In [79]:
summary.head()

                   count      mean       std  min  25%  50%  75%  max
subActNum_100  3085839.0  0.158731  0.365425  0.0  0.0  0.0  0.0  1.0
subActNum_101  3085839.0  0.020084  0.140287  0.0  0.0  0.0  0.0  1.0
subActNum_104  3085839.0  0.003069  0.055312  0.0  0.0  0.0  0.0  1.0
subActNum_105  3085839.0  0.025146  0.156568  0.0  0.0  0.0  0.0  1.0
subActNum_106  3085839.0  0.002902  0.053792  0.0  0.0  0.0  0.0  1.0

In [85]:
transpose2 = transpose.groupby(['duration']).agg('sum')

In [ ]:
for col in ['parks', 'playgrounds', 'sports', 'roading']:
    public[col] = public[col].astype('category')
# https://stackoverflow.com/questions/28910851/python-pandas-changing-some-column-types-to-categories

In [ ]:
idx = pd.Index(df.index)

In [ ]:
idxCol = pd.Index(list(df))
idxCol

In [ ]:
idxCol.isin(cleanDF.subAct)

In [ ]:
# Need to create a DICTIONARY
# https://docs.python.org/3/tutorial/datastructures.html
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])