In [4]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [5]:
ds = pd.read_csv('S1SubActivities_preprocessed.csv', index_col = None)

In [6]:
ds.head(n=10)

   subActNum             subAct                start                  end
0        100       Toilet Flush  2003-04-01 20:51:52  2003-04-01 21:05:20
1         68  Sink faucet - hot  2003-04-01 20:51:58  2003-04-01 20:52:05
2         81             Closet  2003-04-01 20:53:36  2003-04-01 20:53:43
3        101       Light switch  2003-04-01 20:53:49  2003-04-01 21:21:43
4         93      Shower faucet  2003-04-01 20:53:52  2003-04-01 20:58:42
5        137            Freezer  2003-04-01 20:58:22  2003-04-01 20:58:32
6         93      Shower faucet  2003-04-01 20:58:43  2003-04-01 21:06:09
7         58   Medicine cabinet  2003-04-01 21:05:23  2003-04-01 21:05:45
8         57   Medicine cabinet  2003-04-01 21:05:46  2003-04-01 21:18:55
9         67            Cabinet  2003-04-01 21:05:47  2003-04-01 21:05:49

In [7]:
ds['subAct'].replace('Office/study', 'Study', inplace=True) #req??????

In [8]:
ds.dtypes

subActNum     int64
subAct       object
start        object
end          object
dtype: object

In [9]:
# get min/max
initialTimeStart = min(ds.start)
finalTimeStart = max(ds.start)
print("Initial Time for START:", initialTimeStart, '\n' "Final Time for START:", finalTimeStart)

Initial Time for START: 2003-03-27 06:43:40
Final Time for START: 2003-04-11 22:24:05

In [10]:
# get min/max
initialTimeEnd = min(ds.end)
finalTimeEnd = max(ds.end)
print("Initial Time for END:", initialTimeStart, '\n' "Final Time for END:", finalTimeStart)

Initial Time for END: 2003-03-27 06:43:40
Final Time for END: 2003-04-11 22:24:05

In [11]:
print(min(ds.start))                                   # Checking the start time minima

2003-03-27 06:43:40

In [12]:
print(max(ds.start))                                   # Checking the start time maxima

2003-04-11 22:24:05

In [13]:
start = ds.start
end = ds.end

In [14]:
tempTimeStamp = []
i = 0
while i < len(ds):
    tempTimeStamp.append(pd.date_range(start = start[i], end = end[i], freq = 's'))
    i += 1

In [15]:
tempNumTimeStamps = []
i = 0
while i < len(ds):
    tempNumTimeStamps.append(len(tempTimeStamp[i]))
    i += 1

In [16]:
ds['actDuration'] = tempNumTimeStamps
ds['timeStampList'] = tempTimeStamp

In [17]:
timeStampVector = ds['timeStampList']

In [18]:
timeStampVector[1]

DatetimeIndex(['2003-04-01 20:51:58', '2003-04-01 20:51:59',
               '2003-04-01 20:52:00', '2003-04-01 20:52:01',
               '2003-04-01 20:52:02', '2003-04-01 20:52:03',
               '2003-04-01 20:52:04', '2003-04-01 20:52:05'],
              dtype='datetime64[ns]', freq='S')

In [19]:
DTArrayList = []
i = 0
while i < len(ds):
    DTArrayList.append(pd.DatetimeIndex.to_pydatetime(timeStampVector[i]))
    i = i + 1

In [20]:
ds['timeStampArrayList'] = DTArrayList

In [21]:
ds.head(n=4)

,subActNum,subAct,start,end,actDuration,timeStampList,timeStampArrayList
0,100,Toilet Flush,2003-04-01 20:51:52,2003-04-01 21:05:20,809,"DatetimeIndex(['2003-04-01 20:51:52', '2003-04...","[2003-04-01 20:51:52, 2003-04-01 20:51:53, 200..."
1,68,Sink faucet - hot,2003-04-01 20:51:58,2003-04-01 20:52:05,8,"DatetimeIndex(['2003-04-01 20:51:58', '2003-04...","[2003-04-01 20:51:58, 2003-04-01 20:51:59, 200..."
2,81,Closet,2003-04-01 20:53:36,2003-04-01 20:53:43,8,"DatetimeIndex(['2003-04-01 20:53:36', '2003-04...","[2003-04-01 20:53:36, 2003-04-01 20:53:37, 200..."
3,101,Light switch,2003-04-01 20:53:49,2003-04-01 21:21:43,1675,"DatetimeIndex(['2003-04-01 20:53:49', '2003-04...","[2003-04-01 20:53:49, 2003-04-01 20:53:50, 200..."

In [22]:
ds.to_csv('S1SubActivities_timeStampRanges.csv',index=False)