In [2]:
import pandas as pd
import numpy as np
import os
#import altair as alt
from IPython.display import Image
import nbconvert
import time
from datetime import datetime

## Importing Activities Data

In [2]:
# Importing the dataset
dsActivities = pd.read_csv('S1Activities.csv', index_col = None)

In [3]:
dsActivities.head(n=10)

              Heading                 Category        Subcategory  Code
0  Employment related  Employment work at home       Work at home     1
1  Employment related        Travel employment  Going out to work     5
2      Personal needs                   Eating             Eating    10
3      Personal needs         Personal hygiene          Toileting    15
4      Personal needs         Personal hygiene            Bathing    20
5      Personal needs         Personal hygiene           Grooming    25
6      Personal needs         Personal hygiene           Dressing    30
7      Personal needs         Personal hygiene      Washing hands    35
8      Personal needs         Personal medical  Taking medication    40
9      Personal needs                 Sleeping           Sleeping    45

## Importing Sensor Data

In [4]:
# Importing the dataset
dsS1Sensors = pd.read_csv('S1sensors.csv', index_col = None)

FileNotFoundError: [Errno 2] File b'S1sensors.csv' does not exist: b'S1sensors.csv'

In [5]:
dsS1Sensors.head(n=10)

   100     Bathroom   Toilet Flush
0  101     Bathroom    Light switch
1  104        Foyer    Light switch
2  105      Kitchen    Light switch
3  106      Kitchen          Burner
4  107  Living room    Light switch
5  108      Bedroom    Light switch
6  109        Porch    Light switch
7  118      Kitchen          Burner
8  119      Kitchen  Coffee machine
9  120      Kitchen    Light switch

In [6]:
dsS1 = pd.read_csv('S1activities_data.csv', sep='delimiter', header=None)

C:\Users\alistair.grevisjames\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [7]:
dsS1.head(n=10)

                                                   0
0                 Bathing,4/1/2003,20:41:35,21:32:50
1  100,68,81,101,93,137,93,58,57,67,93,58,68,88,5...
2  Toilet Flush,Sink faucet - hot,Closet,Light sw...
3  20:51:52,20:51:58,20:53:36,20:53:49,20:53:52,2...
4  21:5:20,20:52:5,20:53:43,21:21:43,20:58:42,20:...
5               Toileting,4/1/2003,17:30:36,17:46:41
6                                             100,68
7                     Toilet Flush,Sink faucet - hot
8                                  17:39:37,17:39:46
9                                  18:10:57,17:39:52

In [8]:
a = np.array(dsS1)
a

array([['Bathing,4/1/2003,20:41:35,21:32:50'],
       ['100,68,81,101,93,137,93,58,57,67,93,58,68,88,57,67,100,68,67,76'],
       ['Toilet Flush,Sink faucet - hot,Closet,Light switch,Shower faucet,Freezer,Shower faucet,Medicine cabinet,Medicine cabinet,Cabinet,Shower faucet,Medicine cabinet,Sink faucet - hot,Sink faucet - cold,Medicine cabinet,Cabinet,Toilet Flush,Sink faucet - hot,Cabinet,Lamp'],
       ...,
       ['Drawer,Exhaust Fan,Drawer,Medicine cabinet,Light switch,Medicine cabinet,Sink faucet - hot,Medicine cabinet,Sink faucet - cold'],
       ['9:28:50,9:29:27,9:30:55,9:32:6,9:32:7,9:34:4,9:34:8,9:34:19,9:34:45'],
       ['12:14:14,9:32:14,9:31:9,9:34:3,9:32:13,9:35:9,9:34:46,12:18:25,9:35:5']],
      dtype=object)

In [9]:
a = a.flatten()

In [10]:
a[0]

'Bathing,4/1/2003,20:41:35,21:32:50'

In [11]:
a[0][0]

'B'

In [12]:
from more_itertools import chunked
a = list(chunked(a, 5))

In [13]:
a[0]

['Bathing,4/1/2003,20:41:35,21:32:50',
 '100,68,81,101,93,137,93,58,57,67,93,58,68,88,57,67,100,68,67,76',
 'Toilet Flush,Sink faucet - hot,Closet,Light switch,Shower faucet,Freezer,Shower faucet,Medicine cabinet,Medicine cabinet,Cabinet,Shower faucet,Medicine cabinet,Sink faucet - hot,Sink faucet - cold,Medicine cabinet,Cabinet,Toilet Flush,Sink faucet - hot,Cabinet,Lamp',
 '20:51:52,20:51:58,20:53:36,20:53:49,20:53:52,20:58:22,20:58:43,21:5:23,21:5:46,21:5:47,21:18:34,21:18:55,21:19:41,21:20:4,21:20:38,21:20:39,21:21:13,21:21:16,21:21:37,21:22:8',
 '21:5:20,20:52:5,20:53:43,21:21:43,20:58:42,20:58:32,21:6:9,21:5:45,21:18:55,21:5:49,21:18:35,21:20:37,21:20:5,21:20:34,21:21:41,21:20:42,23:10:23,21:21:23,21:21:38,23:11:8']

In [14]:
a[0][0]

'Bathing,4/1/2003,20:41:35,21:32:50'

In [15]:
## Lenght
dimLength = []
i = 0
while i < len(a):
    dimLength.append(len(a[i]))
    i = i + 1

In [16]:
len(dimLength)

295

In [17]:
tempStringList = []
tempStripList = []
activityList = []
dateList = []
tempStartTimeList = []
tempEndTimeList = []

i = 0
while i < len(a):
    tempStringList.append(a[i][0])
    tempStripList.append([x.strip() for x in tempStringList[i].split(',')])
    activityList.append(tempStripList[i][0])
    dateList.append(tempStripList[i][1])
    tempStartTimeList.append(tempStripList[i][2])
    tempEndTimeList.append(tempStripList[i][3])
    i = i + 1

In [18]:
zippedList = list(zip(activityList, dateList, tempStartTimeList, tempEndTimeList))
cleanDF = pd.DataFrame(zippedList, columns = ['activity', 'date', 'startTime', 'endTime'])
#cleanDF

In [19]:
cleanDF.dtypes

activity     object
date         object
startTime    object
endTime      object
dtype: object

In [20]:
start = (cleanDF.date + " " + cleanDF.startTime)
end = (cleanDF.date + " " + cleanDF.endTime)

In [21]:
#cleanDF.dtypes

In [22]:
startList = []
endList = []

i = 0
while i < len(start):
    startList.append(datetime.strptime(start[i], '%m/%d/%Y %H:%M:%S'))
    endList.append(datetime.strptime(end[i], '%m/%d/%Y %H:%M:%S'))
    i = i + 1

In [23]:
startList[0]

datetime.datetime(2003, 4, 1, 20, 41, 35)

In [24]:
zippedList = list(zip(activityList, startList, endList))
cleanDF = pd.DataFrame(zippedList, columns = ['activity', 'start', 'end'])
cleanDF.head(n=10)

              activity               start                 end
0              Bathing 2003-04-01 20:41:35 2003-04-01 21:32:50
1            Toileting 2003-04-01 17:30:36 2003-04-01 17:46:41
2            Toileting 2003-04-01 18:04:43 2003-04-01 18:18:02
3            Toileting 2003-04-01 11:52:01 2003-04-01 11:58:50
4    Going out to work 2003-04-01 12:11:26 2003-04-01 12:15:12
5      Preparing lunch 2003-04-01 11:21:17 2003-04-01 11:38:22
6     Preparing dinner 2003-04-01 16:43:58 2003-04-01 17:07:57
7  Preparing breakfast 2003-04-01 06:36:18 2003-04-01 06:40:38
8             Dressing 2003-04-01 06:32:57 2003-04-01 06:36:05
9            Toileting 2003-04-01 06:07:15 2003-04-01 06:15:58

In [25]:
numericConcat = []
numericSep = []
actConcat = []
actSep = []
startConcat = []
startSep = []
endConcat = []
endSep = []

i = 0
while i < len(a):
    numericConcat.append(a[i][1])
    numericSep.append([x.strip() for x in numericConcat[i].split(',')])
    actConcat.append(a[i][2])
    actSep.append([x.strip() for x in actConcat[i].split(',')])
    startConcat.append(a[i][3])
    startSep.append([x.strip() for x in startConcat[i].split(',')])
    endConcat.append(a[i][4])
    endSep.append([x.strip() for x in endConcat[i].split(',')])
    i = i + 1

In [26]:
dateStringList = []

i = 0
while i < len(a):
    for x in range(len(numericSep[i])):
        dateStringList.append(dateList[i])
    i = i + 1

len(dateStringList)

2772

In [27]:
flat_numericSep = []
for sublist in numericSep:
    for item in sublist:
        flat_numericSep.append(item)

In [28]:
flat_actSep = []
for sublist in actSep:
    for item in sublist:
        flat_actSep.append(item)

In [29]:
flat_startSep = []
for sublist in startSep:
    for item in sublist:
        flat_startSep.append(item)

In [30]:
flat_endSep = []
for sublist in endSep:
    for item in sublist:
        flat_endSep.append(item)

In [31]:
len(flat_numericSep)

2772

In [32]:
len(flat_actSep)

2772

In [33]:
len(flat_startSep)

2772

In [34]:
len(flat_endSep)

2772

In [35]:
zippedList = list(zip(flat_numericSep, flat_actSep, dateStringList, flat_startSep, flat_endSep))
cleanDF = pd.DataFrame(zippedList, columns = ['subActNum', 'subAct', 'date', 'startTime', 'endTime'])

In [36]:
start = (cleanDF.date + " " + cleanDF.startTime)
end = (cleanDF.date + " " + cleanDF.endTime)

In [37]:
startList = []
endList = []

i = 0
while i < len(start):
    startList.append(datetime.strptime(start[i], '%m/%d/%Y %H:%M:%S'))
    endList.append(datetime.strptime(end[i], '%m/%d/%Y %H:%M:%S'))
    i = i + 1

In [38]:
zippedList = list(zip(flat_numericSep, flat_actSep, startList, endList))
cleanDF = pd.DataFrame(zippedList, columns = ['subActNum', 'subAct', 'start', 'end'])
cleanDF.head(n=10)

  subActNum             subAct               start                 end
0       100       Toilet Flush 2003-04-01 20:51:52 2003-04-01 21:05:20
1        68  Sink faucet - hot 2003-04-01 20:51:58 2003-04-01 20:52:05
2        81             Closet 2003-04-01 20:53:36 2003-04-01 20:53:43
3       101       Light switch 2003-04-01 20:53:49 2003-04-01 21:21:43
4        93      Shower faucet 2003-04-01 20:53:52 2003-04-01 20:58:42
5       137            Freezer 2003-04-01 20:58:22 2003-04-01 20:58:32
6        93      Shower faucet 2003-04-01 20:58:43 2003-04-01 21:06:09
7        58   Medicine cabinet 2003-04-01 21:05:23 2003-04-01 21:05:45
8        57   Medicine cabinet 2003-04-01 21:05:46 2003-04-01 21:18:55
9        67            Cabinet 2003-04-01 21:05:47 2003-04-01 21:05:49

In [39]:
subActNumList = cleanDF['subActNum'].unique().tolist()
subActList = cleanDF['subAct'].unique().tolist()

In [40]:
# get min/max
initialTimeStart = min(cleanDF.start)
finalTimeStart = max(cleanDF.start)
print("Initial Time for START:", initialTimeStart, '\n' "Final Time for START:", finalTimeStart)

Initial Time for START: 2003-03-27 06:43:40
Final Time for START: 2003-04-11 22:24:05

In [41]:
# get min/max
initialTimeEnd = min(cleanDF.end)
finalTimeEnd = max(cleanDF.end)
print("Initial Time for END:", initialTimeStart, '\n' "Final Time for END:", finalTimeStart)

Initial Time for END: 2003-03-27 06:43:40
Final Time for END: 2003-04-11 22:24:05

In [42]:
print(min(cleanDF.start))

2003-03-27 06:43:40

In [43]:
print(max(cleanDF.start))

2003-04-11 22:24:05

In [44]:
start_date = datetime(2003, 3, 27, 6, 43, 40)
end_date   = datetime(2003, 4, 12, 22, 24, 5)

In [45]:
date_rng = pd.date_range(start = start_date, end = end_date, freq='s')

In [46]:
date_rng

DatetimeIndex(['2003-03-27 06:43:40', '2003-03-27 06:43:41',
               '2003-03-27 06:43:42', '2003-03-27 06:43:43',
               '2003-03-27 06:43:44', '2003-03-27 06:43:45',
               '2003-03-27 06:43:46', '2003-03-27 06:43:47',
               '2003-03-27 06:43:48', '2003-03-27 06:43:49',
               ...
               '2003-04-12 22:23:56', '2003-04-12 22:23:57',
               '2003-04-12 22:23:58', '2003-04-12 22:23:59',
               '2003-04-12 22:24:00', '2003-04-12 22:24:01',
               '2003-04-12 22:24:02', '2003-04-12 22:24:03',
               '2003-04-12 22:24:04', '2003-04-12 22:24:05'],
              dtype='datetime64[ns]', length=1438826, freq='S')

In [47]:
df = pd.DataFrame(date_rng, columns = ['TimeStamp'])
df = df.set_index('TimeStamp')

In [48]:
df.head(n=10)

Empty DataFrame
Columns: []
Index: [2003-03-27 06:43:40, 2003-03-27 06:43:41, 2003-03-27 06:43:42, 2003-03-27 06:43:43, 2003-03-27 06:43:44, 2003-03-27 06:43:45, 2003-03-27 06:43:46, 2003-03-27 06:43:47, 2003-03-27 06:43:48, 2003-03-27 06:43:49]

In [49]:
#subActList
subActVector = cleanDF.subAct
subActVector.head(n=5)

0         Toilet Flush
1    Sink faucet - hot
2               Closet
3         Light switch
4        Shower faucet
Name: subAct, dtype: object

In [50]:
for x in subActList:
    df[x] = 0

In [51]:
df.head(n=10)

,Toilet Flush,Sink faucet - hot,Closet,Light switch,Shower faucet,Freezer,Medicine cabinet,Cabinet,Sink faucet - cold,Lamp,...,Containers,Exhaust Fan,Garbage disposal,Dishwasher,Laundry Dryer,Washing Machine,Burner,Oven,Coffee machine,DVD
TimeStamp,,,,,,,,,,,,,,,,,,,,,
2003-03-27 06:43:40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:48,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
cleanDF.head(n=5)

  subActNum             subAct               start                 end
0       100       Toilet Flush 2003-04-01 20:51:52 2003-04-01 21:05:20
1        68  Sink faucet - hot 2003-04-01 20:51:58 2003-04-01 20:52:05
2        81             Closet 2003-04-01 20:53:36 2003-04-01 20:53:43
3       101       Light switch 2003-04-01 20:53:49 2003-04-01 21:21:43
4        93      Shower faucet 2003-04-01 20:53:52 2003-04-01 20:58:42

In [53]:
tempTimeStamp = []
i = 0
while i < len(cleanDF):
    tempTimeStamp.append(pd.date_range(start = start[i], end = end[i], freq = 's'))
    i = i + 1

In [54]:
tempNumTimeStamps = []
i = 0
while i < len(cleanDF):
    tempNumTimeStamps.append(len(tempTimeStamp[i]))
    i = i + 1

In [55]:
cleanDF['actDuration'] = tempNumTimeStamps
cleanDF['timeStampList'] = tempTimeStamp

In [56]:
cleanDF.head(n=5)

,subActNum,subAct,start,end,actDuration,timeStampList
0,100,Toilet Flush,2003-04-01 20:51:52,2003-04-01 21:05:20,809,"DatetimeIndex(['2003-04-01 20:51:52', '2003-04..."
1,68,Sink faucet - hot,2003-04-01 20:51:58,2003-04-01 20:52:05,8,"DatetimeIndex(['2003-04-01 20:51:58', '2003-04..."
2,81,Closet,2003-04-01 20:53:36,2003-04-01 20:53:43,8,"DatetimeIndex(['2003-04-01 20:53:36', '2003-04..."
3,101,Light switch,2003-04-01 20:53:49,2003-04-01 21:21:43,1675,"DatetimeIndex(['2003-04-01 20:53:49', '2003-04..."
4,93,Shower faucet,2003-04-01 20:53:52,2003-04-01 20:58:42,291,"DatetimeIndex(['2003-04-01 20:53:52', '2003-04..."

In [57]:
cleanDF = cleanDF.set_index(start)
cleanDF.head(n=5)

,subActNum,subAct,start,end,actDuration,timeStampList
4/1/2003 20:51:52,100,Toilet Flush,2003-04-01 20:51:52,2003-04-01 21:05:20,809,"DatetimeIndex(['2003-04-01 20:51:52', '2003-04..."
4/1/2003 20:51:58,68,Sink faucet - hot,2003-04-01 20:51:58,2003-04-01 20:52:05,8,"DatetimeIndex(['2003-04-01 20:51:58', '2003-04..."
4/1/2003 20:53:36,81,Closet,2003-04-01 20:53:36,2003-04-01 20:53:43,8,"DatetimeIndex(['2003-04-01 20:53:36', '2003-04..."
4/1/2003 20:53:49,101,Light switch,2003-04-01 20:53:49,2003-04-01 21:21:43,1675,"DatetimeIndex(['2003-04-01 20:53:49', '2003-04..."
4/1/2003 20:53:52,93,Shower faucet,2003-04-01 20:53:52,2003-04-01 20:58:42,291,"DatetimeIndex(['2003-04-01 20:53:52', '2003-04..."

In [58]:
##text = pd.melt(cleanDF, id_vars = ['subAct'], value_vars = cleanDF.iloc[[5],:]) 
# Data must be 1D
##text = pd.melt(cleanDF, id_vars = ['subAct'], value_vars = cleanDF.timeStampList)
# TypeError: unhashable type: 'DatetimeIndex'

In [59]:
test = cleanDF
test.head(n=5)

,subActNum,subAct,start,end,actDuration,timeStampList
4/1/2003 20:51:52,100,Toilet Flush,2003-04-01 20:51:52,2003-04-01 21:05:20,809,"DatetimeIndex(['2003-04-01 20:51:52', '2003-04..."
4/1/2003 20:51:58,68,Sink faucet - hot,2003-04-01 20:51:58,2003-04-01 20:52:05,8,"DatetimeIndex(['2003-04-01 20:51:58', '2003-04..."
4/1/2003 20:53:36,81,Closet,2003-04-01 20:53:36,2003-04-01 20:53:43,8,"DatetimeIndex(['2003-04-01 20:53:36', '2003-04..."
4/1/2003 20:53:49,101,Light switch,2003-04-01 20:53:49,2003-04-01 21:21:43,1675,"DatetimeIndex(['2003-04-01 20:53:49', '2003-04..."
4/1/2003 20:53:52,93,Shower faucet,2003-04-01 20:53:52,2003-04-01 20:58:42,291,"DatetimeIndex(['2003-04-01 20:53:52', '2003-04..."

In [64]:
# Checking the length of TEST
len(test)

2772

In [66]:
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [69]:
chunkTest = chunks(test, 40)
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks

In [70]:
chunkTest[0]

TypeError: 'generator' object is not subscriptable

In [ ]:
#text = pd.melt(cleanDF, id_vars = ['subAct'], value_vars = cleanDF.timeStampList) 
new = test.timeStampList.apply(pd.Series) \
    .merge(test, right_index = True, left_index = True) \
    .drop(["timeStampList"], axis = 1) \
    .melt(id_vars = ['subActNum'], value_name = "timeStampList") \
    .drop("variable", axis = 1) \
    .dropna()
new.to_csv('subActNum.csv',index=False)

In [ ]:
new = test.timeStampList.apply(pd.Series) \
    .merge(test, right_index = True, left_index = True) \
    .drop(["timeStampList"], axis = 1) \
    .melt(id_vars = ['subAct'], value_name = "timeStampList") \
    .drop("variable", axis = 1) \
    .dropna()
new.to_csv('subAct.csv',index=False)

In [ ]:
new = test.timeStampList.apply(pd.Series) \
    .merge(test, right_index = True, left_index = True) \
    .drop(["timeStampList"], axis = 1) \
    .melt(id_vars = ['start'], value_name = "timeStampList") \
    .drop("variable", axis = 1) \
    .dropna()
new.to_csv('start.csv',index=False)

In [ ]:
import pandas as pd
subActNum = pd.read_csv('subActNum.csv', index_col = None)
subAct = pd.read_csv('subAct.csv', index_col = None)
start = pd.read_csv('Start.csv', index_col = None)

In [ ]:
subActNum.head(n=5)

In [ ]:
len(subAct)

In [ ]:
checkStart = start.set_index('start')
checkStart

In [ ]:
result = pd.merge(subActNum, subAct, how='inner', on=['timeStampList', 'timeStampList'])

In [ ]:
result2 = pd.merge(result, start, how='inner', on=['timeStampList', 'timeStampList'])
result2.to_csv('result2.csv',index=False)

In [ ]:
df3 = result2.set_index('start')