In [1]:
import pandas as pd
import numpy as np

---

## Collapsing 'Duplicate' Attributes
*

In [2]:
ds = pd.read_csv('S1SubActivities_timeRangeBooleanMinutesDropNA.csv', index_col = 'duration')
ds.index = pd.to_datetime(ds.index)

In [3]:
dsS1Sensors = pd.read_csv('S1Sensors_preprocessed.csv', index_col = None)     # Importing the dataset

In [4]:
dsS1Sensors.head(n=5)

,subActNum,room,activity,concat,reqElectricity,subActNumConcat
0,100,Bathroom,Toilet Flush,bathroom_toiletflush,False,subActNum_100
1,101,Bathroom,Light switch,bathroom_lightswitch,True,subActNum_101
2,104,Foyer,Light switch,foyer_lightswitch,True,subActNum_104
3,105,Kitchen,Light switch,kitchen_lightswitch,True,subActNum_105
4,106,Kitchen,Burner,kitchen_burner,True,subActNum_106

In [5]:
seen = {}
dupes = []

for x in dsS1Sensors.concat:
    if x not in seen:
        seen[x] = 1
    else:
        if seen[x] == 1:
            dupes.append(x)
        seen[x] += 1

In [6]:
dupes

['kitchen_burner',
 'kitchen_lightswitch',
 'kitchen_cabinet',
 'kitchen_drawer',
 'kitchen_refrigerator',
 'kitchen_door',
 'bathroom_medicinecabinet',
 'bedroom_drawer',
 'bathroom_cabinet',
 'livingroom_lightswitch']

In [7]:
dsSensorDrop = dsS1Sensors.drop(columns = ['subActNum', 'room', 'activity', 'reqElectricity'])
dsSensorDrop.head(n=5)

                 concat subActNumConcat
0  bathroom_toiletflush   subActNum_100
1  bathroom_lightswitch   subActNum_101
2     foyer_lightswitch   subActNum_104
3   kitchen_lightswitch   subActNum_105
4        kitchen_burner   subActNum_106

In [8]:
sensorDict = pd.Series(dsSensorDrop.concat.values, dsSensorDrop.subActNumConcat.values).to_dict()
sensorDict["subActNum_100"]

'bathroom_toiletflush'

In [9]:
ds.rename(columns = sensorDict, inplace=True)

In [10]:
ds.head(n=2)

,bathroom_toiletflush,bathroom_lightswitch,foyer_lightswitch,kitchen_lightswitch,kitchen_burner,livingroom_lightswitch,bedroom_lightswitch,kitchen_burner,kitchen_coffeemachine,kitchen_lightswitch,...,kitchen_laundrydryer,kitchen_refrigerator,office/study_lightswitch,bathroom_showerfaucet,kitchen_burner,kitchen_lightswitch,bathroom_exhaustfan,livingroom_lightswitch,kitchen_garbagedisposal,kitchen_burner
duration,,,,,,,,,,,,,,,,,,,,,
2003-03-27 06:43:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-03-27 06:44:00,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
colList = []

for i in ds.columns:
    colList.append(i)

In [12]:
len(colList)

72

In [13]:
ds = ds.groupby(ds.columns, axis=1).sum()

In [14]:
ds.head(n=5)

,bathroom_cabinet,bathroom_door,bathroom_exhaustfan,bathroom_lightswitch,bathroom_medicinecabinet,bathroom_showerfaucet,bathroom_sinkfaucet-cold,bathroom_sinkfaucet-hot,bathroom_toiletflush,bedroom_drawer,...,kitchen_microwave,kitchen_oven,kitchen_refrigerator,kitchen_toaster,kitchen_washingmachine,livingroom_dvd,livingroom_lamp,livingroom_lightswitch,office/study_drawer,office/study_lightswitch
duration,,,,,,,,,,,,,,,,,,,,,
2003-03-27 06:43:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-03-27 06:44:00,1.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-03-27 06:45:00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2003-03-27 06:46:00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-03-27 06:47:00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
colList = []

for i in ds.columns:
    colList.append(i)

In [16]:
len(colList)

38

In [17]:
maxValues = ds.max()                                # Checking for max values in df
maxValues.max()                                     # The maximum value of max values

5.0

In [18]:
ds = ds.replace(to_replace =[2, 3, 4, 5], value = 1)

In [19]:
maxValues = ds.max()
maxValues.max()

1.0

In [21]:
ds.to_csv('S1SubAct_B_m_NoDupes.csv',index='duration')