In [2]:
import pandas as pd
import numpy as np
import time
from datetime import datetime
import altair as alt
import pandas as pd
import json
import itertools as it

In [3]:
ds = pd.read_csv('S1SubActivities_preprocessed.csv', index_col = None)
ds.start = pd.to_datetime(ds.start, format='%Y-%m-%d %H:%M:%S')
ds.end = pd.to_datetime(ds.end, format='%Y-%m-%d %H:%M:%S')
ds = ds.sort_values('start')
ds.reset_index(drop = True, inplace = True)

In [4]:
ds = ds[:100]
ds.head(5)

   subActNum            subAct               start                 end
0         67           Cabinet 2003-03-27 06:43:40 2003-03-27 06:43:43
1        100      Toilet Flush 2003-03-27 06:44:06 2003-03-27 07:12:41
2        101      Light switch 2003-03-27 06:44:20 2003-03-27 07:46:34
3         57  Medicine cabinet 2003-03-27 06:44:35 2003-03-27 06:44:48
4         58  Medicine cabinet 2003-03-27 06:44:36 2003-03-27 06:44:48

# Problem Statement

**If start EVENTA between X and Y on a WD/WE the PR that I will start EVENTB within Z minutes is Q.**

>_If I switch on the bathroom light switch between 6am and 7am on a weekday, the probability that I will use my razor is X._

## Relationships

### Intersection
<pre>
|----EventA----|  <br>
            |---EventB---|   
</pre>

### Separate
<pre>
|----EventA----|  <br>
                    |---EventB---|   
</pre>

### Enclosed
<pre>
|----------EventA----------|  <br>
           |---EventB---|   
</pre>

### Equal
<pre>
       |---EventA---|  <br>
       |---EventB---|   
</pre>

### More?

---
## Pr(EventA delta eventB)

### Delta Negative
<pre>
|----EventA----|  <br>
                -Gap- <br>
                     |---EventB---|   
</pre>

### Delta Positive
<pre>
|------EventA------|  <br>
            -Union-   <br>
            |---EventB---|   
</pre>

### Delta Zero
<pre>
|--EventA--|  <br>

           |------EventB------|   
</pre>

### Equal Start
<pre>
|--EventA--|  <br>

|------EventB------|   
</pre>

**Input A:** S1SubActivities_preprocessed.csv

| Event    | EventStart | EventEnd   |        
|:--------:|:--------:  | :--------: |        
| 100      | dateTime   | dateTime   |        
| 101      | dateTime   | dateTime   |        
| 104      | dateTime   | dateTime   |  
| 105      | dateTime   | dateTime   |  

**Input B:** dsCombin2n

| EventA   | EventB  | 
|:--------:|:-------:| 
| 100      | 101     | 
| 100      | 104     | 
| 100      | 105     | 
| 100      | 106     | 

**Function:** def id_delta(InputA, InputB)  <br>
**Output:**

| EventA   | EventB   |  Ev.A Start | Ev.A End | Ev.B Start | Ev.B End | Delta    | Descriptor |
|:--------:|:--------:| :--------:  | :------: |:--------:  | :------: | :------: | :------:   |
| 100      | 101      |  dateTime   | dateTime | dateTime   | dateTime | -4       | Gap        |
| 100      | 104      |  dateTime   | dateTime | dateTime   | dateTime | 92       | Union      |
| 100      | 105      |  dateTime   | dateTime | dateTime   | dateTime | 0        | Zero       | 
| 100      | 106      |  dateTime   | dateTime | dateTime   | dateTime | ???      | EqualStart | 

**Function:** def add_temporalFeatures(): <br>
**Output:**

| EventA| EventB| Ev.A Start| Ev.A End| Ev.B Start|Ev.B End|Delta   | Descriptor | WendWday|Hour  |TimeofDay|
|:-----:|:-----:|:--------: | :------:|:--------: |:------:|:------:| :------:   | :------:|:----:|:------: |
| 100   | 101   | dateTime  | dateTime| dateTime  |dateTime|-4      | Gap        | weekday | 6:00 |6Till8   |
| 100   | 104   | dateTime  | dateTime| dateTime  |dateTime|92      | Union      | weekend |12:00 |12Till14 |
| 100   | 105   | dateTime  | dateTime| dateTime  |dateTime|0       | Zero       | weekday |15:00 |15Till17 |
| 100   | 106   | dateTime  | dateTime| dateTime  |dateTime|???     | EqualStart | weekday |15:00 |15Till17 |

### def id_delta(InputA, InputB)

* WHERE event A is followed/ union/ gap (first )  by event B
* IF (event A end < event B start)
* SUM (event B start - event A end) = delta
* Add delta attribute to df
* RETURN df

---

1. Equal Start
2. Delta positive (the highest)
3. Delta Zero (the first)
4. Delta Negative (closest to zero)


And nearest 5

In [6]:
import datetime as dt

def id_delta(events, n=1, delta_threshold=dt.timedelta(-99)):
    nns = []
    for row in events.itertuples():
        #print(row)
        start_time = getattr(row, 'start')
        end_time = getattr(row, 'end')
        subActNum = getattr(row, 'subActNum')
        row_index = getattr(row, 'Index')
        
        nn = events[(events.start >= start_time) & 
                    (events.index != row_index) & 
                    ((start_time - events.start) > delta_threshold)][:n]
        #print(len(nn))
        ordered = pd.DataFrame()
        ordered['Dummy'] = nn['subActNum']
        ordered['EventA'] = subActNum
        ordered['EventB'] = nn['subActNum']
        ordered['EvA_Start'] = start_time
        ordered['EvB_Start'] = nn['start']
        ordered['EvA_End'] = end_time
        ordered['EvB_End'] = nn['end']
        del ordered['Dummy']
        nns.append(ordered)
  
    #print(nns)
    result = pd.concat(nns)

    result['Delta'] = np.where(result['EvA_Start']==result['EvB_Start'], 
                               None, 
                               (result['EvA_End'] - result['EvB_Start']) / 1000000000)
    return result

In [7]:
id_delta(ds, 1, dt.timedelta(0,-25))

,EventA,EventB,EvA_Start,EvB_Start,EvA_End,EvB_End,Delta
2,100,101,2003-03-27 06:44:06,2003-03-27 06:44:20,2003-03-27 07:12:41,2003-03-27 07:46:34,1701
3,101,57,2003-03-27 06:44:20,2003-03-27 06:44:35,2003-03-27 07:46:34,2003-03-27 06:44:48,3719
4,57,58,2003-03-27 06:44:35,2003-03-27 06:44:36,2003-03-27 06:44:48,2003-03-27 06:44:48,12
5,58,67,2003-03-27 06:44:36,2003-03-27 06:44:49,2003-03-27 06:44:48,2003-03-27 06:44:56,-1
10,143,55,2003-03-27 06:54:09,2003-03-27 06:54:16,2003-03-27 13:07:43,2003-03-27 06:54:19,22407
14,93,72,2003-03-27 07:05:22,2003-03-27 07:05:39,2003-03-27 07:05:24,2003-03-27 07:05:57,-15
19,82,75,2003-03-27 07:35:27,2003-03-27 07:35:50,2003-03-27 07:35:34,2003-03-27 07:35:56,-16
23,84,84,2003-03-27 07:38:48,2003-03-27 07:38:48,2003-03-27 07:38:51,2003-03-27 07:38:51,None
22,84,84,2003-03-27 07:38:48,2003-03-27 07:38:48,2003-03-27 07:38:51,2003-03-27 07:38:51,None
25,72,73,2003-03-27 07:39:07,2003-03-27 07:39:14,2003-03-27 07:40:27,2003-03-27 07:39:17,73
27,70,135,2003-03-27 07:40:32,2003-03-27 07:40:46,2003-03-27 07:40:34,2003-03-27 07:40:49,-12
28,135,91,2003-03-27 07:40:46,2003-03-27 07:41:08,2003-03-27 07:40:49,2003-03-27 07:41:16,-19
30,73,73,2003-03-27 07:41:36,2003-03-27 07:41:36,2003-03-27 07:41:37,2003-03-27 07:41:37,None
29,73,73,2003-03-27 07:41:36,2003-03-27 07:41:36,2003-03-27 07:41:37,2003-03-27 07:41:37,None
32,58,58,2003-03-27 07:42:38,2003-03-27 07:42:38,2003-03-27 07:43:52,2003-03-27 07:43:52,None
31,58,58,2003-03-27 07:42:38,2003-03-27 07:42:38,2003-03-27 07:43:52,2003-03-27 07:43:52,None
34,88,68,2003-03-27 07:43:22,2003-03-27 07:43:23,2003-03-27 07:43:48,2003-03-27 07:43:48,25
36,57,57,2003-03-27 07:43:52,2003-03-27 07:44:10,2003-03-27 07:44:06,2003-03-27 12:26:50,-4
40,137,73,2003-03-27 11:36:15,2003-03-27 11:36:21,2003-03-27 11:36:21,2003-03-27 11:36:23,0
41,73,55,2003-03-27 11:36:21,2003-03-27 11:36:39,2003-03-27 11:36:23,2003-03-27 11:36:48,-16
44,91,84,2003-03-27 11:38:05,2003-03-27 11:38:21,2003-03-27 11:38:10,2003-03-27 11:38:24,-11
46,55,84,2003-03-27 11:38:48,2003-03-27 11:38:52,2003-03-27 11:38:51,2003-03-27 11:38:56,-1
47,84,95,2003-03-27 11:38:52,2003-03-27 11:38:54,2003-03-27 11:38:56,2003-03-27 12:31:05,2
49,55,91,2003-03-27 11:39:43,2003-03-27 11:39:52,2003-03-27 11:39:46,2003-03-27 11:40:05,-6
52,72,137,2003-03-27 11:45:39,2003-03-27 11:45:44,2003-03-27 11:45:44,2003-03-27 11:45:47,0
58,55,53,2003-03-27 11:55:40,2003-03-27 11:55:42,2003-03-27 11:55:42,2003-03-27 11:55:44,0
61,91,137,2003-03-27 11:57:19,2003-03-27 11:57:22,2003-03-27 11:57:22,2003-03-27 16:35:46,0
63,84,62,2003-03-27 12:01:53,2003-03-27 12:02:08,2003-03-27 12:01:57,2003-03-27 12:02:12,-11
65,70,66,2003-03-27 12:25:11,2003-03-27 12:25:28,2003-03-27 12:25:38,2003-03-27 12:25:44,10
67,88,68,2003-03-27 12:26:41,2003-03-27 12:26:42,2003-03-27 12:26:45,2003-03-27 12:26:45,3
70,91,140,2003-03-27 12:31:44,2003-03-27 12:32:08,2003-03-27 12:31:50,2003-03-27 12:32:11,-18
72,140,92,2003-03-27 16:27:59,2003-03-27 16:28:23,2003-03-27 16:28:03,2003-03-27 18:44:14,-20
74,91,80,2003-03-27 16:35:40,2003-03-27 16:35:49,2003-03-27 16:35:45,2003-03-27 16:35:50,-4
75,80,91,2003-03-27 16:35:49,2003-03-27 16:36:05,2003-03-27 16:35:50,2003-03-27 16:36:09,-15
77,130,100,2003-03-27 17:43:10,2003-03-27 17:43:13,2003-03-27 17:43:12,2003-03-27 18:41:03,-1
79,70,66,2003-03-27 18:32:18,2003-03-27 18:32:28,2003-03-27 18:32:40,2003-03-27 18:32:47,12
81,58,57,2003-03-27 18:41:17,2003-03-27 18:41:33,2003-03-27 18:41:33,2003-03-27 18:42:03,0
82,57,101,2003-03-27 18:41:33,2003-03-27 18:41:34,2003-03-27 18:42:03,2003-03-27 18:42:00,29
86,140,104,2003-03-27 19:36:22,2003-03-27 19:36:32,2003-03-27 19:36:30,2003-03-27 19:50:07,-2
87,104,92,2003-03-27 19:36:32,2003-03-27 19:36:44,2003-03-27 19:50:07,2003-03-27 19:47:29,803
90,73,137,2003-03-27 19:38:40,2003-03-27 19:38:50,2003-03-27 19:38:45,2003-03-27 19:39:31,-5
94,82,75,2003-03-27 19:46:29,2003-03-27 19:46:38,2003-03-27 19:46:32,2003-03-27 19:46:49,-6
97,140,104,2003-03-27 19:50:10,2003-03-27 19:50:21,2003-03-27 19:50:19,2003-03-27 19:50:39,-2
99,100,100,2003-03-28 12:31:01,2003-03-28 12:31:01,2003-03-28 16:34:50,2003-03-28 16:34:50,None
98,100,100,2003-03-28 12:31:01,2003-03-28 12:31:01,2003-03-28 16:34:50,2003-03-28 16:34:50,None

In [ ]:
ds_12n_900s = id_delta(ds, 12, dt.timedelta(0,-900))

In [ ]:
ds_1n_10s = id_delta(ds, 5, dt.timedelta(0,-200))

In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.sankey as sankey

In [1]:
import plotly.graph_objects as go

ModuleNotFoundError: No module named 'plotly.graph_objects'

ModuleNotFoundError: No module named 'pysankey'

* 24till2
* 3till5
* 6till8
* 9till11
* 12till14
* 15till17
* 18till20
* 21till23