In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime
import altair as alt
import pandas as pd

In [2]:
ds = pd.read_csv('S1SubActivities_preprocessed.csv', index_col = None)
ds.start = pd.to_datetime(ds.start, format='%Y-%m-%d %H:%M:%S')
ds.end = pd.to_datetime(ds.end, format='%Y-%m-%d %H:%M:%S')
ds = ds.sort_values('start')
ds.reset_index(drop = True, inplace = True)

In [3]:
ds.head(n=15)

    subActNum            subAct               start                 end
0          67           Cabinet 2003-03-27 06:43:40 2003-03-27 06:43:43
1         100      Toilet Flush 2003-03-27 06:44:06 2003-03-27 07:12:41
2         101      Light switch 2003-03-27 06:44:20 2003-03-27 07:46:34
3          57  Medicine cabinet 2003-03-27 06:44:35 2003-03-27 06:44:48
4          58  Medicine cabinet 2003-03-27 06:44:36 2003-03-27 06:44:48
5          67           Cabinet 2003-03-27 06:44:49 2003-03-27 06:44:56
6          82            Drawer 2003-03-27 06:45:45 2003-03-27 06:45:48
7          71            Drawer 2003-03-27 06:46:12 2003-03-27 06:46:20
8          80           Cabinet 2003-03-27 06:51:43 2003-03-27 06:51:46
9         143         Microwave 2003-03-27 06:54:09 2003-03-27 13:07:43
10         55           Cabinet 2003-03-27 06:54:16 2003-03-27 06:54:19
11         54              Door 2003-03-27 06:57:05 2003-03-27 06:57:08
12         54              Door 2003-03-27 07:04:55 2003-03-27 07:04:57
13         93     Shower faucet 2003-03-27 07:05:22 2003-03-27 07:05:24
14         72           Cabinet 2003-03-27 07:05:39 2003-03-27 07:05:57

Problem Statement is:
If I switch on the bathroom light switch between 6am and 7am on a weekday, the probability that I will use my razor is X. 

If start EVENTA between X and Y on a WD/WE the PR that I will start EVENTB within Z minutes is Q.

In [5]:
import datetime as dt

testEnd = dt.datetime(2003,3,27,7,0,0)
testStart = dt.datetime(2003,3,27,6,0,0)
testTimeFrame = dt.timedelta(hours = 1)

def eventPR(ds, eventAStart, periodStart, periodEnd, dayType, eventB, timeFrame):
    tempDF = ds[(ds.start < periodEnd + timeFrame) & (ds.start > periodStart)]
    return tempDF
    
dsNew = eventPR(ds, 0, testStart, testEnd, 0, 0, testTimeFrame)

In [6]:
dsNew

    subActNum              subAct               start                 end
0          67             Cabinet 2003-03-27 06:43:40 2003-03-27 06:43:43
1         100        Toilet Flush 2003-03-27 06:44:06 2003-03-27 07:12:41
2         101        Light switch 2003-03-27 06:44:20 2003-03-27 07:46:34
3          57    Medicine cabinet 2003-03-27 06:44:35 2003-03-27 06:44:48
4          58    Medicine cabinet 2003-03-27 06:44:36 2003-03-27 06:44:48
5          67             Cabinet 2003-03-27 06:44:49 2003-03-27 06:44:56
6          82              Drawer 2003-03-27 06:45:45 2003-03-27 06:45:48
7          71              Drawer 2003-03-27 06:46:12 2003-03-27 06:46:20
8          80             Cabinet 2003-03-27 06:51:43 2003-03-27 06:51:46
9         143           Microwave 2003-03-27 06:54:09 2003-03-27 13:07:43
10         55             Cabinet 2003-03-27 06:54:16 2003-03-27 06:54:19
11         54                Door 2003-03-27 06:57:05 2003-03-27 06:57:08
12         54                Door 2003-03-27 07:04:55 2003-03-27 07:04:57
13         93       Shower faucet 2003-03-27 07:05:22 2003-03-27 07:05:24
14         72             Cabinet 2003-03-27 07:05:39 2003-03-27 07:05:57
15         67             Cabinet 2003-03-27 07:11:23 2003-03-27 07:11:27
16         57    Medicine cabinet 2003-03-27 07:34:05 2003-03-27 07:42:38
17        100        Toilet Flush 2003-03-27 07:34:47 2003-03-27 12:26:27
18         82              Drawer 2003-03-27 07:35:27 2003-03-27 07:35:34
19         75              Drawer 2003-03-27 07:35:50 2003-03-27 07:35:56
20         82              Drawer 2003-03-27 07:36:23 2003-03-27 07:36:27
21         75              Drawer 2003-03-27 07:37:18 2003-03-27 07:37:43
22         84              Drawer 2003-03-27 07:38:48 2003-03-27 07:38:51
23         84              Drawer 2003-03-27 07:38:48 2003-03-27 07:38:51
24         72             Cabinet 2003-03-27 07:39:07 2003-03-27 07:40:27
25         73             Cabinet 2003-03-27 07:39:14 2003-03-27 07:39:17
26         70          Dishwasher 2003-03-27 07:40:32 2003-03-27 07:40:34
27        135              Drawer 2003-03-27 07:40:46 2003-03-27 07:40:49
28         91        Refrigerator 2003-03-27 07:41:08 2003-03-27 07:41:16
29         73             Cabinet 2003-03-27 07:41:36 2003-03-27 07:41:37
30         73             Cabinet 2003-03-27 07:41:36 2003-03-27 07:41:37
31         58    Medicine cabinet 2003-03-27 07:42:38 2003-03-27 07:43:52
32         58    Medicine cabinet 2003-03-27 07:42:38 2003-03-27 07:43:52
33         88  Sink faucet - cold 2003-03-27 07:43:22 2003-03-27 07:43:48
34         68   Sink faucet - hot 2003-03-27 07:43:23 2003-03-27 07:43:48
35         57    Medicine cabinet 2003-03-27 07:43:52 2003-03-27 07:44:06
36         57    Medicine cabinet 2003-03-27 07:44:10 2003-03-27 12:26:50
37        140                Door 2003-03-27 07:48:49 2003-03-27 07:48:53

* 24till2
* 3till5
* 6till8
* 9till11
* 12till14
* 15till17
* 18till20
* 21till23